.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
  }

  img {
    width: 200px;
    height: auto;
  }
}

#cards-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-start: auto;

}

main {
  h1 {
    display: flex;
    justify-content: center;
  }

}

#selections {
  display: flex;
  flex-direction: column;

  input {
    width: 50px;
  }
}