@import "CollectionPage.css";

body {
  box-sizing: border-box;
  background-color: rgb(117, 112, 38);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    border-width: 2px;
    border-style: solid;
  }

  background-color: darkblue;

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
}