body {
  box-sizing: border-box;
  background-color: rgb(117, 112, 38);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    border-width: 2px;
    border-style: solid;
  }

  background-color: darkblue;

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
  }

  img {
    width: 200px;
    height: auto;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
}

#cards-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-start: auto;

}

#selections {
  display: flex;
  flex-direction: column;

  input {
    width: 50px;
  }
}